@tailwind base;
@tailwind components;
@tailwind utilities;

.error-message {
  font-size: 12px;
  color: red;
  margin: 10px;
}
.error-message::before {
  content: "❌ ";
}
.user-img {
  width: 40px;
}
.learning-input {
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.learner-sidebar {
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

/* dark mode */
#light {
  /* background-color: #f3ebf6; */
}
#dark {
  background-color: #1f1f1f;
  color: white;
}
#dark a,
#dark p {
  color: white;
}
#dark .item-details {
  background-color: #1f1f1f;
  color: white;
}

.premium {
  justify-content: space-between;
  align-items: center;
}
.darkBgColor {
  @apply bg-[#1f1f1f];
}
.darkSColor {
  @apply bg-[#262626];
}

.learning-menu {
  z-index: 99;
}

/* responsive css */

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .left-side-category {
    display: none;
  }
  .right-side-category {
    width: 100%;
  }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
